Docs/AWS/NodeRed/flows (8).json
[
    {
        "id": "5aaaa13.ece6d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c87ba4e914a57485",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "name": "CSR1",
        "style": {
            "stroke": "#92d04f",
            "label": true
        },
        "nodes": [
            "3976c058f42e322e",
            "56b01a28cd5505a7",
            "52d642d0b39d6180",
            "50090571baafdaa9",
            "40351469738a286a",
            "8ac4f274f9637410",
            "f0a18547cde36456",
            "29e106039a1e7c5a",
            "edca830ad6a776f8",
            "367016244bd8d55c",
            "5df5f13de8537afb",
            "64fd652d24c7991d",
            "c65cdd77353861c4",
            "e81eeaea3fb8a3ea",
            "fec97145544c918d",
            "214045ad0ee5dd3e",
            "41d01b58effc943e",
            "a7a7cf48dc3b6b53",
            "45fe83306440a92c",
            "b3a719ef808e47f8",
            "4c3c2eb817e6f2a3",
            "ad2af290658298be",
            "337a23e7a36051e9",
            "5aea3456ee53132e"
        ],
        "x": 528,
        "y": 39,
        "w": 418,
        "h": 1468
    },
    {
        "id": "e6156414e5b33838",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "name": "Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "b5531fe0.6fbdc",
            "ebfc509.bfea93",
            "1f37025f.edb396"
        ],
        "x": 14,
        "y": 319,
        "w": 372,
        "h": 142
    },
    {
        "id": "93f7811a76a98aee",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "name": "CSR2",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "09cf916840e85710",
            "38e25f8ffaa1a49f",
            "4c76140354e68511",
            "ab6c2d03d9b57881",
            "d0b3585176cf47f6",
            "fc4cc9b6c77e8668",
            "f9381da0c05edccd",
            "5c0b1352ec1688c9",
            "60955235d17666ed",
            "142155f98087d797",
            "807e6925d04ffd29",
            "e1a6adc514224e30",
            "5edc78fc05b027ef",
            "d22fda595320214d",
            "df05935b1fdc7de8",
            "381d55e2e4a0b983",
            "e1e448c15788a8ac",
            "abc79286ab64cf68",
            "8a975419b6e8529b",
            "10a9afe5562cae60",
            "dfb4f271ad2c6a5b",
            "f47726df5c358569",
            "649da08c2b809293",
            "7c45ed0f71c7ad60",
            "88ac5cd1f594218e",
            "9b0fd930a2c349e4",
            "050ab835a20ed133",
            "60abd61bec752c00",
            "9abd1a107445b29a",
            "75707c3b0c3d1331",
            "89cd90f70d2c2603",
            "2d7afd75beeec404",
            "81c08f4c7ca2d88b"
        ],
        "x": 1054,
        "y": 39,
        "w": 412,
        "h": 1442
    },
    {
        "id": "0b84bb6be357fde6",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "name": "CSR3",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "943192d59807b427",
            "ec6ae3a46f108501",
            "818832a112e4a8fc",
            "b90597b670e69441",
            "0c3152943fb4328a",
            "f15539601bb6f796",
            "9bdee20baccdd0af",
            "bf1023664a76e27a",
            "2118ca0ea7b619fd",
            "6630531e826789f7",
            "fa7150780be19969",
            "a682ba72cec7c5f6",
            "f1d43b47de086982",
            "ec9b155c6ff11e43",
            "26ba2001146be9a8",
            "f9748c84c8d262d1",
            "fc8ec6ffad6c3d02",
            "161b709ca567ca75",
            "a52bad3886a654c4",
            "ac5bb6e623a623ec",
            "eb6b8aa6d9476b6e",
            "f759ea5ac43031e7",
            "e4981502d53eb92d",
            "8c88f09ac151070b",
            "51d82fdb6d1e7960",
            "15a7342acb499a68",
            "2ede3f6da0e1ed29",
            "0f82db891936254e",
            "dd9468c444f418e7",
            "8651bc51f6ef34a9"
        ],
        "x": 1534,
        "y": 39,
        "w": 432,
        "h": 1442
    },
    {
        "id": "2fe65212e797c335",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7aae7a9e9d37c6eb",
            "2ce3ed52a7db933c",
            "74cc2020aad869e8"
        ],
        "x": 548,
        "y": 1513,
        "w": 1184,
        "h": 834
    },
    {
        "id": "7aae7a9e9d37c6eb",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "g": "2fe65212e797c335",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0cc6a8ce946adb27",
            "504a591e49052e5c",
            "f8ed432b881ee201",
            "277cf23f60a0b8a8",
            "a19460af123b32b0",
            "437a5b1d637b947d",
            "80b8f7d6f783bc1b",
            "04b2bc95584fa905",
            "0f2740f7261ec2c5",
            "84a0e18f25184b77",
            "0609b36a2e598e95",
            "96866450bd85902c",
            "16a6fd7abfa64caa",
            "947c97fc35d977f5",
            "eb6e58d697df80d9",
            "427284234baa83ba",
            "54c333eb31793446",
            "f7f5b19ef16d8b28"
        ],
        "x": 1554,
        "y": 1559,
        "w": 152,
        "h": 762
    },
    {
        "id": "2ce3ed52a7db933c",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "g": "2fe65212e797c335",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f6d029f77b1aaf74",
            "483f93df0aaa8244",
            "77a4db86312271f4",
            "2f26c446fc147fe1",
            "17d17f3a113705fd",
            "58034e3a845036e5",
            "8698836ac5b722e9",
            "1cb4e9528a49f816",
            "dbeb6deaf7ee5ad2",
            "82ef574df0e52a1b",
            "be2e20bf5fc9fd18",
            "6fac515fa7da63f1",
            "ce0ca202f3587c79",
            "8c5e4c9f673fcc8a",
            "61116742e0471aa6",
            "e9626ac6c15255cd",
            "6a1bff960e6ec747",
            "7cec528f199953e9"
        ],
        "x": 1094,
        "y": 1539,
        "w": 152,
        "h": 762
    },
    {
        "id": "74cc2020aad869e8",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "g": "2fe65212e797c335",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae0fa327e07f97ef",
            "b6734894145afe4b",
            "ac727fe6368acc9c",
            "dc33ea6ec8e06572",
            "93a1e9d31140771b",
            "7ef83fe87668dc8b",
            "9ae387f516f42800",
            "b2a8a980da0b9edd",
            "549d18328ff2ae33",
            "fd4d1b83af618d2b",
            "938af88612af0aca",
            "d4794ddb96a33167",
            "ed05949ba07f1907",
            "fb1ef2df4495e3f4",
            "e2c85897be3fad6f",
            "6a51760691333532",
            "9d9f7fd8d0ac6480",
            "93c54985d1df19a4"
        ],
        "x": 574,
        "y": 1539,
        "w": 152,
        "h": 762
    },
    {
        "id": "f541f6e32578bbf1",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "name": "Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "d59deee365e05196",
            "ec5782c05ad616af",
            "60f1c50822dd1c26"
        ],
        "x": 94,
        "y": 1779,
        "w": 372,
        "h": 142
    },
    {
        "id": "5aea3456ee53132e",
        "type": "group",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "053f5a06769b4d6d",
            "55809336f148b21e",
            "8f9ff67a44249122",
            "14404241c62a6662",
            "add0948967140083",
            "a0648992404b2a13",
            "b473e836bba3a75a"
        ],
        "x": 554,
        "y": 1099,
        "w": 172,
        "h": 382
    },
    {
        "id": "3976c058f42e322e",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "topic": "csr1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "60a1691f9152b906",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "56b01a28cd5505a7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "52d642d0b39d6180",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "50090571baafdaa9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "40351469738a286a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "8ac4f274f9637410",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "f0a18547cde36456",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "29e106039a1e7c5a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "edca830ad6a776f8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "367016244bd8d55c",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "5df5f13de8537afb",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "64fd652d24c7991d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "c65cdd77353861c4",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "e81eeaea3fb8a3ea",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "fec97145544c918d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "214045ad0ee5dd3e",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "41d01b58effc943e",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "a7a7cf48dc3b6b53",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "45fe83306440a92c",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 21,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "topiv",
        "topicType": "str",
        "x": 630,
        "y": 760,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "09cf916840e85710",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "topic": "csr2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 1380,
        "y": 840,
        "wires": []
    },
    {
        "id": "38e25f8ffaa1a49f",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 80,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "4c76140354e68511",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "ab6c2d03d9b57881",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "d0b3585176cf47f6",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "fc4cc9b6c77e8668",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "f9381da0c05edccd",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "5c0b1352ec1688c9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "60955235d17666ed",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 360,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "142155f98087d797",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "807e6925d04ffd29",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "e1a6adc514224e30",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 480,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "5edc78fc05b027ef",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 520,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "d22fda595320214d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 560,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "df05935b1fdc7de8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "381d55e2e4a0b983",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "e1e448c15788a8ac",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "abc79286ab64cf68",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 720,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "8a975419b6e8529b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 21,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 760,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "ec6ae3a46f108501",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "topic": "csr3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec54fd88f640c1b2",
        "x": 1880,
        "y": 820,
        "wires": []
    },
    {
        "id": "818832a112e4a8fc",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 80,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "b90597b670e69441",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 120,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "0c3152943fb4328a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 160,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "f15539601bb6f796",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 200,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "9bdee20baccdd0af",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 240,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "bf1023664a76e27a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 280,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "943192d59807b427",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 320,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "2118ca0ea7b619fd",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 360,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "6630531e826789f7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 400,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "fa7150780be19969",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 440,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "a682ba72cec7c5f6",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 480,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "f1d43b47de086982",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 520,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "ec9b155c6ff11e43",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 560,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "26ba2001146be9a8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 600,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "f9748c84c8d262d1",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 640,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "fc8ec6ffad6c3d02",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 680,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "161b709ca567ca75",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 720,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "a52bad3886a654c4",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 21,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 760,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "10a9afe5562cae60",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX1",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 820,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "dfb4f271ad2c6a5b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX2",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 860,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "f47726df5c358569",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 25,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "649da08c2b809293",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 26,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX4",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1130,
        "y": 940,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "b3a719ef808e47f8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "ac5bb6e623a623ec",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1610,
        "y": 820,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "b5531fe0.6fbdc",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "e6156414e5b33838",
        "name": "",
        "group": "bba557de.cde84",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "green",
        "bgcolor": "white",
        "className": "",
        "icon": "settings",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "1f37025f.edb396"
            ]
        ]
    },
    {
        "id": "ebfc509.bfea93",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "e6156414e5b33838",
        "name": "",
        "group": "bba557de.cde84",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "settings",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "1f37025f.edb396"
            ]
        ]
    },
    {
        "id": "1f37025f.edb396",
        "type": "change",
        "z": "5aaaa13.ece6d6",
        "g": "e6156414e5b33838",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "56b01a28cd5505a7",
                "edca830ad6a776f8",
                "367016244bd8d55c",
                "5df5f13de8537afb",
                "64fd652d24c7991d",
                "e81eeaea3fb8a3ea",
                "41d01b58effc943e",
                "a7a7cf48dc3b6b53",
                "38e25f8ffaa1a49f",
                "60955235d17666ed",
                "142155f98087d797",
                "807e6925d04ffd29",
                "e1a6adc514224e30",
                "d22fda595320214d",
                "e1e448c15788a8ac",
                "abc79286ab64cf68",
                "818832a112e4a8fc",
                "2118ca0ea7b619fd",
                "6630531e826789f7",
                "fa7150780be19969",
                "a682ba72cec7c5f6",
                "ec9b155c6ff11e43",
                "fc8ec6ffad6c3d02",
                "161b709ca567ca75"
            ]
        ]
    },
    {
        "id": "053f5a06769b4d6d",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "label": "DVR",
        "tooltip": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 30,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"DVR\":\"1\"}",
        "onvalueType": "json",
        "onicon": "live_tv",
        "oncolor": "lime",
        "offvalue": "{\"DVR\":\"0\"}",
        "offvalueType": "json",
        "officon": "live_tv",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 1140,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "7c45ed0f71c7ad60",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "label": "DVR",
        "tooltip": "",
        "group": "a93d55040cd99200",
        "order": 35,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"DVR\":\"1\"}",
        "onvalueType": "json",
        "onicon": "live_tv",
        "oncolor": "lime",
        "offvalue": "{\"DVR\":\"0\"}",
        "offvalueType": "json",
        "officon": "live_tv",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 1130,
        "y": 1140,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "eb6b8aa6d9476b6e",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "label": "DVR",
        "tooltip": "",
        "group": "a3a26c8d34efc2f2",
        "order": 30,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"DVR\":\"1\"}",
        "onvalueType": "json",
        "onicon": "live_tv",
        "oncolor": "lime",
        "offvalue": "{\"DVR\":\"0\"}",
        "offvalueType": "json",
        "officon": "live_tv",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 1610,
        "y": 1140,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "4c3c2eb817e6f2a3",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Video",
        "tooltip": "",
        "color": "black",
        "bgcolor": "lime",
        "className": "",
        "icon": "videocam",
        "payload": "{\"V_RC_BOTH\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "ad2af290658298be",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "RC",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "network_wifi",
        "payload": "{\"V_RC_BOTH\":\"2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 630,
        "y": 1040,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "337a23e7a36051e9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "c87ba4e914a57485",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Both",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "cast_connected",
        "payload": "{\"V_RC_BOTH\":\"3\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "88ac5cd1f594218e",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Video",
        "tooltip": "",
        "color": "black",
        "bgcolor": "lime",
        "className": "",
        "icon": "videocam",
        "payload": "{\"V_RC_BOTH\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1130,
        "y": 1000,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "9b0fd930a2c349e4",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "RC",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "network_wifi",
        "payload": "{\"V_RC_BOTH\":\"2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1130,
        "y": 1040,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "050ab835a20ed133",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Both",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "cast_connected",
        "payload": "{\"V_RC_BOTH\":\"3\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1130,
        "y": 1080,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "f759ea5ac43031e7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Video",
        "tooltip": "",
        "color": "black",
        "bgcolor": "lime",
        "className": "",
        "icon": "videocam",
        "payload": "{\"V_RC_BOTH\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1610,
        "y": 1000,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "e4981502d53eb92d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "RC",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "network_wifi",
        "payload": "{\"V_RC_BOTH\":\"2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1610,
        "y": 1040,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "8c88f09ac151070b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Both",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "cast_connected",
        "payload": "{\"V_RC_BOTH\":\"3\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1610,
        "y": 1080,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "55809336f148b21e",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "label": "ZAP",
        "tooltip": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 26,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP\":\"0\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "60abd61bec752c00",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "label": "ZAP",
        "tooltip": "",
        "group": "a93d55040cd99200",
        "order": 31,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP\":\"0\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1130,
        "y": 1200,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "51d82fdb6d1e7960",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "label": "ZAP",
        "tooltip": "",
        "group": "a3a26c8d34efc2f2",
        "order": 26,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP\":\"0\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1610,
        "y": 1200,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "8f9ff67a44249122",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "label": "RC CSR1",
        "tooltip": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 23,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR1\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "14404241c62a6662",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "label": "RC CSR2",
        "tooltip": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 24,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR2\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "add0948967140083",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "label": "RC CSR3",
        "tooltip": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 25,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR3\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 1340,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "a0648992404b2a13",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 28,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PRESET",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "videocam",
        "payload": "{\"PRESET\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 640,
        "y": 1400,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "b473e836bba3a75a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "5aea3456ee53132e",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 32,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "REBOOT",
        "tooltip": "",
        "color": " ",
        "bgcolor": "red",
        "className": "",
        "icon": "loop",
        "payload": "{\"REBOOT\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 640,
        "y": 1440,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "9abd1a107445b29a",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "label": "RC CSR1",
        "tooltip": "",
        "group": "a93d55040cd99200",
        "order": 28,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR1\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1140,
        "y": 1260,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "75707c3b0c3d1331",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "label": "RC CSR2",
        "tooltip": "",
        "group": "a93d55040cd99200",
        "order": 29,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR2\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1140,
        "y": 1300,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "89cd90f70d2c2603",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "label": "RC CSR3",
        "tooltip": "",
        "group": "a93d55040cd99200",
        "order": 30,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR3\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1140,
        "y": 1340,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "2d7afd75beeec404",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 33,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PRESET",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "videocam",
        "payload": "{\"PRESET\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1140,
        "y": 1400,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "81c08f4c7ca2d88b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "93f7811a76a98aee",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 37,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "REBOOT",
        "tooltip": "",
        "color": " ",
        "bgcolor": "red",
        "className": "",
        "icon": "loop",
        "payload": "{\"REBOOT\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1140,
        "y": 1440,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "15a7342acb499a68",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "label": "RC CSR1",
        "tooltip": "",
        "group": "a3a26c8d34efc2f2",
        "order": 23,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR1\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1620,
        "y": 1260,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "2ede3f6da0e1ed29",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "label": "RC CSR2",
        "tooltip": "",
        "group": "a3a26c8d34efc2f2",
        "order": 24,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR2\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1620,
        "y": 1300,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "0f82db891936254e",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "label": "RC CSR3",
        "tooltip": "",
        "group": "a3a26c8d34efc2f2",
        "order": 25,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"REMOTE_CSR3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "leak_add",
        "oncolor": "lime",
        "offvalue": "{\"REMOTE_CSR3\":\"0\"}",
        "offvalueType": "json",
        "officon": "leak_add",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1620,
        "y": 1340,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "dd9468c444f418e7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 28,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PRESET",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "videocam",
        "payload": "{\"PRESET\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1620,
        "y": 1400,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "8651bc51f6ef34a9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "0b84bb6be357fde6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 32,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "REBOOT",
        "tooltip": "",
        "color": " ",
        "bgcolor": "red",
        "className": "",
        "icon": "loop",
        "payload": "{\"REBOOT\":\"1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "str",
        "x": 1620,
        "y": 1440,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "ae0fa327e07f97ef",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "24",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP1\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1580,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "b6734894145afe4b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "25",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP2\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1620,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "ac727fe6368acc9c",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "26",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP3\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1660,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "dc33ea6ec8e06572",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "27",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP4\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP4\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1700,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "93a1e9d31140771b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "28",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP5\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP5\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1740,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "7ef83fe87668dc8b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "29",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP6\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP6\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1780,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "9ae387f516f42800",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "48",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP7\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP7\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1820,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "b2a8a980da0b9edd",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "49",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP8\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP8\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1860,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "549d18328ff2ae33",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "50",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP9\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP9\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1900,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "fd4d1b83af618d2b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "51",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP10\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP10\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1940,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "938af88612af0aca",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "52",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP11\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP11\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 1980,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "d4794ddb96a33167",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "53",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP12\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP12\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2020,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "ed05949ba07f1907",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "62",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP13\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP13\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2060,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "fb1ef2df4495e3f4",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "63",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP14\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP14\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2100,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "e2c85897be3fad6f",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "64",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP15\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP15\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2140,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "6a51760691333532",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "65",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP16\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP16\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2180,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "9d9f7fd8d0ac6480",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "66",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP17\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP17\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2220,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "93c54985d1df19a4",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "74cc2020aad869e8",
        "name": "",
        "label": "68",
        "tooltip": "",
        "group": "d41ae9cc25b9d776",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP19\":\"1\"}",
        "onvalueType": "json",
        "onicon": "directions_walk",
        "oncolor": "lime",
        "offvalue": "{\"ZAP19\":\"1\"}",
        "offvalueType": "json",
        "officon": "directions_walk",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 2260,
        "wires": [
            [
                "3976c058f42e322e"
            ]
        ]
    },
    {
        "id": "f6d029f77b1aaf74",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "24",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP1\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1580,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "483f93df0aaa8244",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "25",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP2\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1620,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "77a4db86312271f4",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "26",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP3\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1660,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "2f26c446fc147fe1",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "27",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP4\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP4\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1700,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "17d17f3a113705fd",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "28",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP5\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP5\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1740,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "58034e3a845036e5",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "29",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP6\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP6\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1780,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "8698836ac5b722e9",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "48",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP7\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP7\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1820,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "1cb4e9528a49f816",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "49",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP8\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP8\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1860,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "dbeb6deaf7ee5ad2",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "50",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP9\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP9\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1900,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "82ef574df0e52a1b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "51",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP10\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP10\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1940,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "be2e20bf5fc9fd18",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "52",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP11\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP11\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 1980,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "6fac515fa7da63f1",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "53",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP12\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP12\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2020,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "ce0ca202f3587c79",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "62",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP13\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP13\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2060,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "8c5e4c9f673fcc8a",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "63",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP14\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP14\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2100,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "61116742e0471aa6",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "64",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP15\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP15\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2140,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "e9626ac6c15255cd",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "65",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP16\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP16\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2180,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "6a1bff960e6ec747",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "66",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP17\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP17\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2220,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "7cec528f199953e9",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "2ce3ed52a7db933c",
        "name": "",
        "label": "68",
        "tooltip": "",
        "group": "c43375f8552801d6",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP19\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP19\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 2260,
        "wires": [
            [
                "09cf916840e85710"
            ]
        ]
    },
    {
        "id": "0cc6a8ce946adb27",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "24",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP1\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP1\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1600,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "504a591e49052e5c",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "25",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP2\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP2\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1640,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "f8ed432b881ee201",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "26",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP3\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP3\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1680,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "277cf23f60a0b8a8",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "27",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP4\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP4\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1720,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "a19460af123b32b0",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "28",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP5\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP5\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1760,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "437a5b1d637b947d",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "29",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP6\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP6\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1800,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "80b8f7d6f783bc1b",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "48",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP7\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP7\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1840,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "04b2bc95584fa905",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "49",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP8\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP8\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1880,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "0f2740f7261ec2c5",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "50",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP9\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP9\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1920,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "84a0e18f25184b77",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "51",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP10\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP10\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 1960,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "0609b36a2e598e95",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "52",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP11\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP11\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2000,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "96866450bd85902c",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "53",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP12\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP12\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2040,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "16a6fd7abfa64caa",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "62",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP13\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP13\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2080,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "947c97fc35d977f5",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "63",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP14\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP14\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2120,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "eb6e58d697df80d9",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "64",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP15\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP15\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2160,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "427284234baa83ba",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "65",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP16\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP16\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2200,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "54c333eb31793446",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "66",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP17\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP17\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2240,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "f7f5b19ef16d8b28",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "g": "7aae7a9e9d37c6eb",
        "name": "",
        "label": "68",
        "tooltip": "",
        "group": "13dabbc42bd33daf",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"ZAP19\":\"1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ZAP19\":\"1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1630,
        "y": 2280,
        "wires": [
            [
                "ec6ae3a46f108501"
            ]
        ]
    },
    {
        "id": "d59deee365e05196",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "f541f6e32578bbf1",
        "name": "",
        "group": "1deaea426e011175",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "green",
        "bgcolor": "white",
        "className": "",
        "icon": "settings",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "60f1c50822dd1c26"
            ]
        ]
    },
    {
        "id": "ec5782c05ad616af",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "g": "f541f6e32578bbf1",
        "name": "",
        "group": "1deaea426e011175",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "settings",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "60f1c50822dd1c26"
            ]
        ]
    },
    {
        "id": "60f1c50822dd1c26",
        "type": "change",
        "z": "5aaaa13.ece6d6",
        "g": "f541f6e32578bbf1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1860,
        "wires": [
            [
                "ae0fa327e07f97ef",
                "f6d029f77b1aaf74",
                "0cc6a8ce946adb27",
                "b2a8a980da0b9edd",
                "549d18328ff2ae33",
                "fd4d1b83af618d2b",
                "938af88612af0aca",
                "ed05949ba07f1907",
                "6a51760691333532",
                "9d9f7fd8d0ac6480",
                "1cb4e9528a49f816",
                "dbeb6deaf7ee5ad2",
                "82ef574df0e52a1b",
                "be2e20bf5fc9fd18",
                "ce0ca202f3587c79",
                "e9626ac6c15255cd",
                "6a1bff960e6ec747",
                "04b2bc95584fa905",
                "0f2740f7261ec2c5",
                "84a0e18f25184b77",
                "0609b36a2e598e95",
                "16a6fd7abfa64caa",
                "427284234baa83ba",
                "54c333eb31793446"
            ]
        ]
    },
    {
        "id": "e1bb1c42e27977ad",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "856de8cfdf0d7074",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "9989013d4809c509",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "60babe794770ee03",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "7670fa9385d36b5b",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "de6d7d32d0ff8dc1",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "00f2639415746d3f",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 34,
        "width": 6,
        "height": 1
    },
    {
        "id": "f0c84f9519802579",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "e3daf302bedacb42",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a3a26c8d34efc2f2",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "329434da56f25c66",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a3a26c8d34efc2f2",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "dd264cf5c7085d2a",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a3a26c8d34efc2f2",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "60a1691f9152b906",
        "type": "mqtt-broker",
        "name": "CSR1",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbe5b7cbe859b3fe",
        "type": "ui_group",
        "name": "CSR1 TTGO 1CH",
        "tab": "b943462c6d2f7eed",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "CSR2",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a93d55040cd99200",
        "type": "ui_group",
        "name": "CSR2 4CH R6",
        "tab": "b943462c6d2f7eed",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec54fd88f640c1b2",
        "type": "mqtt-broker",
        "name": "CSR3",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a3a26c8d34efc2f2",
        "type": "ui_group",
        "name": "CSR3 2CH R65",
        "tab": "b943462c6d2f7eed",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bba557de.cde84",
        "type": "ui_group",
        "name": "Settings",
        "tab": "b943462c6d2f7eed",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d41ae9cc25b9d776",
        "type": "ui_group",
        "name": "CSR1",
        "tab": "78ab1e5442f333fa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c43375f8552801d6",
        "type": "ui_group",
        "name": "CSR2",
        "tab": "78ab1e5442f333fa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13dabbc42bd33daf",
        "type": "ui_group",
        "name": "CSR3",
        "tab": "78ab1e5442f333fa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1deaea426e011175",
        "type": "ui_group",
        "name": "Settings",
        "tab": "78ab1e5442f333fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "609e2695bc1a8b97",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Device certificate.crt",
        "keyname": "private key.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b943462c6d2f7eed",
        "type": "ui_tab",
        "name": "CSR_MAIN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78ab1e5442f333fa",
        "type": "ui_tab",
        "name": "ZAPPING",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]