Docs/AWS/flows.json
[
    {
        "id": "5aaaa13.ece6d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ae6863d.4dde9a",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay1",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "6e4f621f.b2f1e4",
                "0490f79439a10ee6"
            ]
        ]
    },
    {
        "id": "80ec7e53.05efd8",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay2",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "31c609d9.aa546e"
            ]
        ]
    },
    {
        "id": "2b95a165.3c9426",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay3",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "400c763c.ec8bf"
            ]
        ]
    },
    {
        "id": "528863e0.79eb54",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay4",
        "tooltip": "",
        "group": "d7c12b74.277828",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "f9f33605.5751e8"
            ]
        ]
    },
    {
        "id": "6e4f621f.b2f1e4",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device1/relay1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "45975112.c3f2d8",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "31c609d9.aa546e",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device1/relay2",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "400c763c.ec8bf",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device1/relay3",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "f9f33605.5751e8",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device1/relay4",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "3080521d.7019b6",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay1",
        "tooltip": "",
        "group": "4120bc84.e1bb74",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "927738e8.eb409"
            ]
        ]
    },
    {
        "id": "4b7d4ba8.a8564c",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay2",
        "tooltip": "",
        "group": "4120bc84.e1bb74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "8f30456c.544c48"
            ]
        ]
    },
    {
        "id": "1f4f9567.212d43",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay3",
        "tooltip": "",
        "group": "4120bc84.e1bb74",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "88835b52.e8fa68"
            ]
        ]
    },
    {
        "id": "9560347b.8c717",
        "type": "ui_switch",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "label": "Relay4",
        "tooltip": "",
        "group": "4120bc84.e1bb74",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "716ff0bb.3f9c68"
            ]
        ]
    },
    {
        "id": "927738e8.eb409",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/relay1",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "8f30456c.544c48",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/relay2",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "88835b52.e8fa68",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/relay3",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "716ff0bb.3f9c68",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/relay4",
        "qos": "",
        "retain": "",
        "broker": "b2907dad.3b4d88",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "13e81e7b.9fd41a",
        "type": "ui_gauge",
        "z": "5aaaa13.ece6d6",
        "name": "Temperature",
        "group": "7ccde2ba.796d34",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "deg C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "7a908f84.d8498",
        "type": "ui_gauge",
        "z": "5aaaa13.ece6d6",
        "name": "Humidity",
        "group": "7ccde2ba.796d34",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 640,
        "wires": []
    },
    {
        "id": "9f056e5c.24bf8",
        "type": "mqtt in",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2907dad.3b4d88",
        "inputs": 0,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "13e81e7b.9fd41a"
            ]
        ]
    },
    {
        "id": "d57eb7e3.7d8898",
        "type": "mqtt in",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "device2/hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2907dad.3b4d88",
        "inputs": 0,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "7a908f84.d8498"
            ]
        ]
    },
    {
        "id": "0490f79439a10ee6",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "470d87faddd05ed0",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "csr2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "6a226280b8313a30",
        "type": "inject",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "a59b9434f70e921f"
            ]
        ]
    },
    {
        "id": "a59b9434f70e921f",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "function 1",
        "func": "msg.payload = {\"RC\":\"25\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "470d87faddd05ed0",
                "0f222655163db2c4",
                "742aec671996b3a9",
                "46cb807df23fe94f"
            ]
        ]
    },
    {
        "id": "0f222655163db2c4",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "csr3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec54fd88f640c1b2",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "742aec671996b3a9",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "csr1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "60a1691f9152b906",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "46cb807df23fe94f",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 980,
        "wires": []
    },
    {
        "id": "d7c12b74.277828",
        "type": "ui_group",
        "name": "Controls",
        "tab": "f57a184e.4f4fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45975112.c3f2d8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "b2907dad.3b4d88",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "4120bc84.e1bb74",
        "type": "ui_group",
        "name": "Controls",
        "tab": "dbf2452e.b49af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ccde2ba.796d34",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "dbf2452e.b49af",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "CSR2",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ec54fd88f640c1b2",
        "type": "mqtt-broker",
        "name": "CSR3",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "60a1691f9152b906",
        "type": "mqtt-broker",
        "name": "CSR1",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f57a184e.4f4fa",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dbf2452e.b49af",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "609e2695bc1a8b97",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Device certificate.crt",
        "keyname": "private key.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]