Docs/NODE RED and AWS/flows.json
[
    {
        "id": "5aaaa13.ece6d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56b01a28cd5505a7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 90,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "52d642d0b39d6180",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "396240c9.2d409",
        "order": 35,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "videocam",
        "payload": "on",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "50090571baafdaa9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "40351469738a286a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ac4f274f9637410",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 16,
        "width": 4,
        "height": 6,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a18547cde36456",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 24,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "29e106039a1e7c5a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "edca830ad6a776f8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 23,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "367016244bd8d55c",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 27,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5df5f13de8537afb",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "64fd652d24c7991d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 26,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c65cdd77353861c4",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 30,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e81eeaea3fb8a3ea",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "fec97145544c918d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 29,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "214045ad0ee5dd3e",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 33,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "41d01b58effc943e",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a7a7cf48dc3b6b53",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 32,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "45fe83306440a92c",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 36,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "#23C48E",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "38e25f8ffaa1a49f",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4c76140354e68511",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ab6c2d03d9b57881",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d0b3585176cf47f6",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fc4cc9b6c77e8668",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f9381da0c05edccd",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5c0b1352ec1688c9",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "60955235d17666ed",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "142155f98087d797",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "807e6925d04ffd29",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a6adc514224e30",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5edc78fc05b027ef",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d22fda595320214d",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "df05935b1fdc7de8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "381d55e2e4a0b983",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e1e448c15788a8ac",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "abc79286ab64cf68",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8a975419b6e8529b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "#04C0F8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "818832a112e4a8fc",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b90597b670e69441",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0c3152943fb4328a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f15539601bb6f796",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9bdee20baccdd0af",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"5\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bf1023664a76e27a",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"6\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "943192d59807b427",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"7\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2118ca0ea7b619fd",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"8\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6630531e826789f7",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"9\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7150780be19969",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"10\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a682ba72cec7c5f6",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"11\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f1d43b47de086982",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"12\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9b155c6ff11e43",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"13\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "26ba2001146be9a8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"14\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f9748c84c8d262d1",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"15\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fc8ec6ffad6c3d02",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "65",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"16\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "161b709ca567ca75",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "66",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ED9D00",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"17\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a52bad3886a654c4",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "68",
        "tooltip": "",
        "color": "",
        "bgcolor": "#5F7CD8",
        "className": "",
        "icon": "",
        "payload": "{\"VIDEO\":\"19\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "10a9afe5562cae60",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX1",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"1\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "dfb4f271ad2c6a5b",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX2",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"2\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f47726df5c358569",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "649da08c2b809293",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a93d55040cd99200",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX4",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"4\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 470,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b3a719ef808e47f8",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "dbe5b7cbe859b3fe",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ac5bb6e623a623ec",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "group": "a3a26c8d34efc2f2",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "RX3",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D3435C",
        "className": "",
        "icon": "",
        "payload": "{\"RX\":\"3\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3c7dba654b40cd55",
        "type": "change",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 20,
        "wires": [
            [
                "56b01a28cd5505a7"
            ]
        ]
    },
    {
        "id": "f81eb77f0c5187a1",
        "type": "inject",
        "z": "5aaaa13.ece6d6",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "init",
        "payload": "on",
        "payloadType": "str",
        "x": 1290,
        "y": 180,
        "wires": [
            [
                "61c47437aba04c27"
            ]
        ]
    },
    {
        "id": "11b5c675.c3f1ba",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "Push Button",
        "func": "var state = context.get(\"STATE\")||0;\n\n//  Look for a !X message to get values.\nif (msg.payload != \"X\")     //Do this if the message is NOT \"X\"\n{\n    //\n    //  Background colours first.\n    //\n    context.set(\"ABGC\", msg.colourA);\n    context.set(\"BBGC\", msg.colourB);\n    //\n    //  Now do text.\n    //\n    context.set(\"Atxt\", msg.txtA);\n    context.set(\"Btxt\", msg.txtB);\n    //\n    //  Font colours.\n    //\n    context.set(\"AFC\",msg.txtclrA);\n    context.set(\"BFC\",msg.txtclrB);\n    //\n    //  Payloads.\n    //\n    context.set(\"PayloadA\", msg.payloadA);\n    context.set(\"PayloadB\", msg.payloadB);\n    //\n    //  Topic.\n    //\n    if (msg.topicSET !== null)\n    {\n        context.set(\"Topic\",msg.topicSET);\n    } else\n    {\n        context.set(\"Topic\",\"~\");\n    }\n    return;\n}\n//      Now on to the real stuff.\nif (msg.payload == \"X\")\n{\n    state = (state + 1)% 2;\n    //node.warn(state);\n    context.set(\"STATE\",state);\n}\nif (state === 0)\n{\n    //  Condition A\n    msg.payload = context.get(\"PayloadA\");\n    msg.colour = context.get(\"ABGC\");\n    msg.txt = context.get(\"Atxt\");\n    msg.fontclr = context.get(\"AFC\");\n} else\n{\n    //  Condition B\n    msg.payload = context.get(\"PayloadB\");\n    msg.colour = context.get(\"BBGC\");\n    msg.txt = context.get(\"Btxt\");\n    msg.fontclr = context.get(\"BFC\");\n}\nif (context.get(\"Topic\") == \"~\")\n{\n    msg.topic = \"\";\n} else\n{\n    msg.topic = context.get(\"Topic\");\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 940,
        "wires": [
            [
                "3c7dc256.8e3e46"
            ]
        ]
    },
    {
        "id": "3c7dc256.8e3e46",
        "type": "ui_button",
        "z": "5aaaa13.ece6d6",
        "name": "RBE Button",
        "group": "396240c9.2d409",
        "order": 5,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "{{msg.fontclr}}",
        "bgcolor": "{{msg.colour}}",
        "className": "",
        "icon": "",
        "payload": "X",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1170,
        "y": 830,
        "wires": [
            [
                "11b5c675.c3f1ba"
            ]
        ]
    },
    {
        "id": "839b0fab.0972e8",
        "type": "inject",
        "z": "5aaaa13.ece6d6",
        "name": "Setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1090,
        "y": 680,
        "wires": [
            [
                "c3514fad.809d8"
            ]
        ]
    },
    {
        "id": "80d7b072.b72b88",
        "type": "comment",
        "z": "5aaaa13.ece6d6",
        "name": "Push Button Flow",
        "info": "This has two states:\nA and B.\nAll future refrence is to these two state names.\n\nREQUIRED:\nInputs:\nButton background colour for state A.  msg.colurA\nButton background colour for state B.  msg.colourB\nButton text for state A.               msg.txtA\nButton text for state B.               msg.txtB\nFont colour for state A.               msg.txtclrA\nFont colour for state B.               msg.txtclrB\nPayload for state A.                   msg.payloadA\nPayload for state B.                   msg.payloadB\nTopic.                                 msg.topicSET\n\nOutputs:\nmsg.payload - this is used to control what ever you need.\nmsg.topic - this is if it is needed for control of the next node.\nmsg.colour - this sets the colour of the button.\nmsg.txt - this is the text to be displayed in the button.\nmsg.fontclr - this is the colour of the text on the button.\n",
        "x": 1200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c3514fad.809d8",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "Setup",
        "func": "msg = {\n    \"colourA\": \"yellow\",\n    \"colourB\": \"blue\",\n    \"txtA\": \"SOM\",\n    \"txtB\": \"SOM-EOM\",\n    \"txtclrA\": \"black\",\n    \"txtclrB\": \"white\",\n    \"payloadA\": \"GO\",\n    \"payloadB\": \"STOP\",\n    \"topicSET\": \"CONTROL\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 940,
        "wires": [
            [
                "11b5c675.c3f1ba"
            ]
        ]
    },
    {
        "id": "dc1a7cdc5aba2441",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "topic": "csr2/sub/video",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b3c9ae334419b14",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "0b8c7f5c33621cb8",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ed768b2ed692a193",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1140,
        "wires": []
    },
    {
        "id": "52c832077c618d25",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1200,
        "wires": []
    },
    {
        "id": "67e6ab453d45b9d5",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "25",
        "func": "\nlet payload=msg.payload;\nlet state=context.get(\"state\");\nif(msg.topic==\"init\")\n{\n    state = \"on\";\n  //  msg.payload = { \"VIDEO\": 1, \"CMD\": 0 };\n    msg.background = \"gray\";\n    msg.label = \"25 OFF\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"25\";\n    context.set(\"state\", \"off\");\n    return msg;\n}\n//toggle\nif (typeof state == \"undefined\" || state==\"on\")\n{\n//state=\"open\";\nmsg.payload = { \"VIDEO\": 2, \"CMD\": 0 };\nmsg.background = \"red\";\nmsg.label = \"25 OFF\";\nmsg.myicon = \"fa-toggle-off\";\nstate=\"off\";\n\n}\nelse if (typeof state == \"undefined\" || state == \"off\") {\n//state = \"close\";\nmsg.payload = { \"VIDEO\": 2, \"CMD\": 1 };\nmsg.background = \"green\";\nmsg.label = \"25 ON\";\nmsg.myicon=\"fa-toggle-on\";\nstate=\"on\";\n}\ncontext.set(\"state\",state);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"state\", \"off\");",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9f464f1d3412f893",
        "type": "mqtt in",
        "z": "5aaaa13.ece6d6",
        "name": "Subscribe Video csr1",
        "topic": "csr1/sub/video",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "35605f8d31e386d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "c9a7effa9357dc30"
            ]
        ]
    },
    {
        "id": "b16206f10881e8f3",
        "type": "mqtt out",
        "z": "5aaaa13.ece6d6",
        "name": "Publish video csr1",
        "topic": "csr1/sub/video",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35605f8d31e386d6",
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "26645d4a7d72ccb3",
        "type": "inject",
        "z": "5aaaa13.ece6d6",
        "name": "connect",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1010,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfcd05d795d6b60",
        "type": "inject",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "14c5d5f3169596f4",
        "type": "mqtt in",
        "z": "5aaaa13.ece6d6",
        "name": "Subscribe Video csr2",
        "topic": "csr2/sub/video",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0f9348da4d34943e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "45501e7453d5de56"
            ]
        ]
    },
    {
        "id": "2c5c24ba53543a5c",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "CMD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 340,
        "wires": []
    },
    {
        "id": "61c47437aba04c27",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "25",
        "func": "\nlet payload=msg.payload;\nlet state=context.get(\"state\");\nif(msg.topic==\"init\")\n{\n    state = \"on\";\n    msg.background = \"gray\";\n    msg.label = \"25 OFF\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"25\";\n    context.set(\"state\", \"off\");\n    return msg;\n}\n//toggle\n//if (typeof state == \"undefined\" || state==\"on\")\n\nif (typeof state == \"undefined\" || payload == 10)\n{\n//msg.payload = { \"VIDEO\": 3, \"CMD\": 0 };\nmsg.background = \"red\";\nmsg.label = \"25 OFF\";\nmsg.myicon = \"videocam\";\nstate=\"off\";\n}\n\nelse// if (typeof state == \"undefined\" || state == \"off\") \n{\n //   msg.payload = { \"VIDEO\": 3, \"CMD\": 1 };\nmsg.background = \"green\";\nmsg.label = \"25 ON\";\n    msg.myicon =\"videocam\";\nstate=\"on\";\n}\ncontext.set(\"state\",state);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"state\", \"off\");",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 240,
        "wires": [
            [
                "52d642d0b39d6180"
            ]
        ]
    },
    {
        "id": "db617b4c51dc00fd",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "CH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 300,
        "wires": []
    },
    {
        "id": "288557c14b1059a1",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "Parse Json",
        "func": "var p = JSON.parse(msg.payload);\nvar cmd = {payload: p.CMD};\nvar ch = { payload: p.VIDEO};\nreturn [ch,cmd];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "db617b4c51dc00fd",
                "61c47437aba04c27"
            ],
            [
                "2c5c24ba53543a5c"
            ]
        ]
    },
    {
        "id": "45501e7453d5de56",
        "type": "json",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "288557c14b1059a1"
            ]
        ]
    },
    {
        "id": "c4030a0916d71f0a",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "CMD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 440,
        "wires": []
    },
    {
        "id": "07b2fb05b535f234",
        "type": "debug",
        "z": "5aaaa13.ece6d6",
        "name": "CH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 400,
        "wires": []
    },
    {
        "id": "d4051fefca07e928",
        "type": "function",
        "z": "5aaaa13.ece6d6",
        "name": "Parse Json",
        "func": "var p = JSON.parse(msg.payload);\nvar cmd = {payload: p.CMD};\nvar ch = { payload: p.VIDEO};\nreturn [ch,cmd];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "07b2fb05b535f234"
            ],
            [
                "c4030a0916d71f0a"
            ]
        ]
    },
    {
        "id": "c9a7effa9357dc30",
        "type": "json",
        "z": "5aaaa13.ece6d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "d4051fefca07e928"
            ]
        ]
    },
    {
        "id": "19ebf92933ed254b",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "18989317bbdc0acf",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "22b277e8bb02b270",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "98335b2753e350d5",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "fbb22e146376c9e2",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "6bf65f3855840f84",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "7f9aa75d66717969",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "e407d11eefa96bbe",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "472e2e8031d2858d",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "7fd3ca2c48a27de3",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "1108fc3d57cc498f",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "eee615f371cb4bf6",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "b8655b0c8cabe6e7",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "276a0d2b86741f86",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "cb463080ed955478",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "f5b07fe832980690",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "c891ca7a5bd16a42",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "c7abbfd8f187205e",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ffabc7313d9d211",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 40,
        "width": 3,
        "height": 1
    },
    {
        "id": "7edb0c3ce2f1e85d",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "dbe5b7cbe859b3fe",
        "order": 41,
        "width": 3,
        "height": 1
    },
    {
        "id": "e628d5b59358e9ac",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a93d55040cd99200",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f089a9830222bbb",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a3a26c8d34efc2f2",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "e03c24d91fcd04ae",
        "type": "ui_spacer",
        "z": "5aaaa13.ece6d6",
        "name": "spacer",
        "group": "a3a26c8d34efc2f2",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "dbe5b7cbe859b3fe",
        "type": "ui_group",
        "name": "CSR1 TTGO 1CH",
        "tab": "b943462c6d2f7eed",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "396240c9.2d409",
        "type": "ui_group",
        "name": "WAP",
        "tab": "d54cd82e.537658",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "a93d55040cd99200",
        "type": "ui_group",
        "name": "CSR2 4CH R6**********",
        "tab": "b943462c6d2f7eed",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3a26c8d34efc2f2",
        "type": "ui_group",
        "name": "CSR3 2CH R65",
        "tab": "b943462c6d2f7eed",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b3c9ae334419b14",
        "type": "mqtt-broker",
        "name": "CSR3",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35605f8d31e386d6",
        "type": "mqtt-broker",
        "name": "CSR1",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f9348da4d34943e",
        "type": "mqtt-broker",
        "name": "CSR2",
        "broker": "aw3hbcyl07a4j-ats.iot.eu-north-1.amazonaws.com",
        "port": "8883",
        "tls": "609e2695bc1a8b97",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b943462c6d2f7eed",
        "type": "ui_tab",
        "name": "CSR_MAIN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d54cd82e.537658",
        "type": "ui_tab",
        "name": "Logging",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "609e2695bc1a8b97",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Device certificate.crt",
        "keyname": "private key.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]